@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
  height: 100%;
  margin: 0%;
  background-color: beige;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-120vh) translateX(10px);
    opacity: 0;
  }
}

.animate-float {
  animation: float linear infinite;
}